.App {
  text-align: center;
  overflow-y: auto;
}

.App-win {
  margin-top: 32px;
  height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
}

.Page-win {
  min-height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
  height: calc(100vh - 32px);
}

.section {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}

.section-center {
  margin-left: 64px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  -webkit-box-shadow: 8px 6px 40px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 6px 40px -7px rgba(66, 68, 90, 1);
  box-shadow: 8px 6px 40px -7px rgba(66, 68, 90, 1);
}

.close-btn {
  position: absolute;
  margin: 5px;
  top: 0;
  right: 0;
}

.delete-btn {
  border-radius: 10px !important;
  border: 1px solid !important;
  position: absolute !important;
  bottom: 10px !important;
  left: 24px !important;
}

.dialog-form-btn {
  margin-right: 16px !important;
  border-radius: 10px !important;
  border: 1px solid !important;
}

.confirm-icon {
  margin: auto !important;
}
.confirm-button {
  margin: 24px !important;
  border: 1px solid !important;
  border-radius: 8px !important;
}

.card-header {
  padding: 0px !important;
}

.card-content {
  padding: 0px !important;
}

.additional-menu {
  margin-top: auto !important;
  margin-bottom: 5px !important;
}

.Top-select-bar {
  margin-left: 64px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.Top-select-bar-win {
  margin-left: 64px;
  margin-top: 32px;
  height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
}

.Top-select-bar-div {
  display: flex;
  position: absolute;
  right: 0;
  margin-left: 20px;
}
.Top-select-bar-form {
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  padding-bottom: 5px !important;
  max-width: 15vw !important;
  min-width: 15vw !important;
}

.Top-select-bar-p {
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: bold;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  max-height: 55px;
  min-height: 55px;
}

.arrow-icon {
  margin-left: 3px;
  vertical-align: middle;
  font-size: 18px !important;
}

.table-cell-header {
  font-weight: bolder !important;
  font-size: 1rem !important;
  text-transform: uppercase;
  cursor: pointer;
}

.add-button {
  margin-left: 10px !important;
  border-radius: 10px !important;
  border: 1px solid !important;
}

.action-btn {
  margin-right: 5px !important;
  border-radius: 10px !important;
  border: 1px solid !important;
}

.search-field {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 10px;
  max-height: 80%;
}

.MuiOutlinedInput-root {
  border-radius: 15px !important;
  max-height: 40px !important;
}

.dialog-form-title {
  display: flex !important;
  flex-direction: row !important;
  min-width: 400px !important;
  font-weight: bold !important;
}
.dialog-form-actions {
  margin-top: 36px !important;
}

.MuiAppBar-root {
  max-height: 48px;
}

.MuiToolbar-root {
  min-height: 48px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-config-paper {
  padding: 16px;
  margin: auto;
  max-width: 40%;
  min-width: 40%;
}

.Controller-text-field {
  margin-bottom: 16px !important;
}

.Stack-row-buttons {
  display: flex;
  align-items: center;
}

.Hide-icon > .MuiButton-endIcon {
  visibility: hidden;
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body div .Application-bar {
  -webkit-app-region: drag;
  height: 32px;
  -webkit-user-select: none;
  user-select: none;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.Application-bar-buttons {
  -webkit-app-region: no-drag;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

/*body {
  -webkit-app-region: drag;
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fix-drawer .MuiPaper-root {
  max-width: 64px;
  min-width: 64px;
}
